<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" type="text/javascript"></script>
</head>
<body>

<div id="app1">
<input v-model="message" placeholder="edit me">
<p>Message is: {{ message }}</p>

<span>Multiline message is:</span>
<p style="white-space: pre-line;">{{ message }}</p>
<br>
<textarea v-model="message" placeholder="add multiple lines"></textarea>

<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">{{ checked }}</label>



<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
<label for="jack">Jack</label>
<input type="checkbox" id="john" value="John" v-model="checkedNames">
<label for="john">John</label>
<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
<label for="mike">Mike</label>
<br>
<span>Checked names: {{ checkedNames }}</span>
<br>
<input type="radio" id="one" value="One" v-model="picked">
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="picked">
  <label for="two">Two</label>
  <br>
  <span>Picked: {{ picked }}</span>
  
  
<select v-model="selected">
    <option disabled value="">请选择</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <span>Selected: {{ selected }}</span>
<br>

<select v-model="multiselected" multiple style="width: 50px;">
    <option>A</option>
    <option>B</option>
    <option>C</option>
</select>
  <br>
  <span>Selected: {{ multiselected }}</span>
    <br>
<select v-model="multiselected" multiple style="width: 50px;">
    <option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
    
</select>  

</div>


<div id="components-demo">
  <button-counter v-bind:param1="allCount"></button-counter>
  <button-counter param1=3></button-counter>
  <button-counter param1=5></button-counter>
</div>


<script type="text/javascript">

Vue.component('button-counter', {
	  props: ['param1','param2'],
	  data: function () {
	    return {
	      count: 0
	    }
	    
	  },
	  
	  template: '<button v-on:click="count = parseInt(count)+parseInt(param1)" >{{ param1 }}You clicked me{{ count }} times. </button>'
	})

var vm = new Vue({
	  el: '#app1',
	  data: {
		  message: '',
		  checked: true,
		  checkedNames: [],
		  picked: '',
		  selected: '',
		  multiselected: [],
		  options:
			  [
			  {text:'one', value:'A'},
			  {text:'two', value:'B'},
			  {text:'thr', value:'C'}
			  
			  ]
	  }	
})

new Vue({ el: '#components-demo',
	data:{
		allCount: 999
	}
	})
</script>
</body>
</html>